# 데이터 폴더 — 파일은 무시하되 폴더 구조(.gitkeep)는 유지 / data folder(google download images)
data_set/*
!data_set/images/
data_set/images/*
!data_set/images/.gitkeep

# 출력 폴더 - 파일은 무시하되 폴더 구조(.gitkeep)는 유지 / data folder(google download images)
outputs/*
!outputs/reports

# 압축 파일 / zip file
*.zip

# Python 캐시 / python cashe
__pycache__/
*.pyc
*.pyo

# 가상환경 / virtual machine
.venv/
venv/
env/

# 학습 결과물 / train reports
*.pt
*.onnx
*.mlmodel

# macOS
.DS_Store

# IDE
.vscode/
.idea/